.header-container{
    background-image: url("images/banner.jpg");
    background-size: cover;
    height: 25rem;
}

body{
    background-color: #F8E3D2;
}
h1{
	text-align: center;
	font-family: "Lucida Handwriting", "Brush Script MT", cursive;
	font-size: 3rem;
    margin: 0.5rem;
}
h2{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2.5rem;
}
h3{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2rem;
}
h4{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.8rem;
}
p{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.5rem;
}
img{
	margin: auto;
	display: block;
}
iframe{
	margin: 50px;
/*	display: block;*/
}

td, th ,table{
	border: 2px solid black;
	border-collapse: collapse;
}
.index{
   background-color: #F8E3D2;
   display: flex;
   justify-content: space-between;
   align-items: center;    
}

.index h1{
    flex: 1;
}

.index p{
    font-size: 2 rem;
    font-style: italic; 
    flex: 2;
    margin: 1rem;
}

.index img{
    flex: 1;
}

.about{
    background-color: #E1EEFF;
}
.contact{
    background-color: #E1EEFF;
    border: 2px solid black;
}
.activities{
    background-color: #E2EDD2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.activities h3{
    grid-column: 1 / 3;
    text-align: center;
}

.activities table{
    grid-column: 1 / 3;
}

td img{
    margin: 1rem;
}

tr th{
    padding: 1rem;
    font-size: 2rem;
}